  //== Colors
    //
    //## Gray and brand colors for use across theme.

    $black:                  #202020;
    $gray:                   #696969;
    $gray-light:             #EBEBEB;
    $gray-lighter:           #F7F7F7;
    $white:                  #ffffff;
    $yellow:                 #FFE900;
    $blue:                   #0045FF;
    $pink:                   #FF0058;

    $brand-primary:           $yellow;

    //== Layout
    $gutter-padding: 14px;
    $max-width: 1164px;
    $max-body-width: 1680px;
    $screen-xsmall: 475px;
    $screen-small: 767px;
    $screen-medium: 1024px;
    $screen-large: 1200px;

    //== Scaffolding
    //
    //## Settings for some of the most global styles.
    $body-bg:                   $white;
    $text-color:                $black;
    $text-color-inverse:        $gray-light;

    $brand-secondary:           $black;

    $brand-third:               $gray-light;
    $link-color:                $blue;
    $link-hover-color:          $link-color;
    $link-hover-decoration:     underline;
    $nav-link:                  $black;
    $nav-link-inverse:          $gray-light;

    //== Typography
    //
    //## Font, line-height, and color for body text, headings, and more.

    $font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    $font-family-serif:       "Asar",Georgia, "Times New Roman", Times, serif;
    $font-family-base:        $font-family-sans-serif;

    $font-size-base:          18px;
    $font-size-large:         24px;
    $font-size-xlarge:        48px;
    $font-size-medium:		  18px;
    $font-size-small:         14px;
    $font-size-xsmall:		  12px;

    $font-size-h1:            40px;
    $font-size-h2:            36px; 
    $font-size-h3:            24px; 
    $font-size-h4:            16px; 
    $font-size-h5:            14px;
    $font-size-h6:            10px; 

    $line-height-base:        1.5;
    $line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

    $font-weight-light:      300;
    $font-weight-normal:     normal;
    $font-weight-semi-bold:  400;
    $font-weight-bold:       600;