.cmp-AccountContainer__accountDropdown__root {
    background-color: $venia-grey;
    display: grid;
    gap: 1rem;
    min-width: 22rem;
    left: 84%;
    opacity: 0;
    position: absolute;
    top: 7.3rem;
    transform: translate3d(-50%,0,0);
    transition-duration: 192ms;
    transition-property: opacity,transform,visibility;
    transition-timing-function: cubic-bezier(.4,0,1,1);
    visibility: hidden;
    z-index: 4;
}

.header__accountTrigger {
    padding-left: 2.5rem;
}