scripts=["
    set ACL on /conf/global
        allow jcr:read for wefinance-service-user
    end

    set ACL on /conf/wknd
        allow jcr:read for wefinance-service-user
    end

    set ACL on /content/wknd
        allow jcr:all for wefinance-service-user
    end

    set ACL on /content/dam
        allow jcr:read for wefinance-service-user
    end

    set ACL on /content/dam/wknd
        allow jcr:all for wefinance-service-user
    end

    set ACL on /content/cq:tags
        allow jcr:all for wefinance-service-user
    end

    set ACL on /content/experience-fragments/wknd
        allow jcr:all for wefinance-service-user
    end

    set ACL on /home/groups
        allow jcr:read for wefinance-service-user
    end

    set ACL on /home/users
        allow jcr:read for wefinance-service-user
    end

    set ACL on /var/workflow
        allow jcr:read for wefinance-service-user
    end

"]